
<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:600px;">
            <div class="card-header">
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-circle" 
                style="width: 150px; height: 150px;display:block;">
                <h3 class="text-uppercase text-center p-4"> Bienvenido a Playstation Lovers!!</h3>
            </div>

            <div class="card-body text-center">
                <p> Te damos la bienvenida a esta pagina web, la cual esta dedicada a almacenar los juegos mas emblematicos de las consolas playstation. </p>
                <a href="/quieneSomos" class="btn btn-primary"> Sobre nosotros </a>
                <a href="/add" class="btn btn-primary"> Añade tu juego </a>
            </div>
        </div>
    </div>
</main>
