
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel ">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height:600px; weidth:500;">
            <img src="/img/PS1.png" class="d-block w-100">
        </div>
        <div class="carousel-item" style="height:600px; weidth:550;">
            <img src="/img/PS2.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item" style="height:600px; weidth:500;">
            <img src="/img/PS3.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item" style="height:600px; weidth:500;">
            <img src="/img/PS4.jpg" class="d-block w-100">
        </div>

        <div class="carousel-item" style="height:600px; weidth:500;">
            <img src="/img/PS5.jpg" class="d-block w-100">
        </div>

        <div class="carousel-item" style="height:600px; weidth:500;">
            <img src="/img/PSP.jpg" class="d-block w-100">
        </div>


        <div class="carousel-item" style="height:600px; weidth:500;">
            <img src="/img/PSVITA.png" class="d-block w-100">
        </div>


        <div class="carousel-item" style="height:600px; weidth:500;">
            <img src="/img/PSVR.jpg" class="d-block w-100">
        </div>


        <div class="carousel-item" style="height:600px; weidth:500;">
            <img src="/img/PSVR2.png" class="d-block w-100">
        </div>



    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
